@import'fonts.css';
.login{
    padding-top: 150px;
    text-align: center;
}

.login_logo{
    width: 300px;
    height: auto;
}

.input{
    width: 300px;
    height: 40px;
    margin: 20px 10px 20px 0;
}

.submit{
    width: 200px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.submit:hover{
    background-color: black;
    color: white;
    transition-duration: .2s;
}
