@import'fonts.css';

.notice_box{
    text-align: center;
    width: 90%;
    margin: 0 5% 0 5%;
    padding-top: 100px;
    font-family: 'Afacad', sans-serif;
}

.notice_box h1{
    font-size: 100px;
    margin-bottom: 10px;
    margin-top: 0;
}

.print_notice{
    width: 20%;
    margin: 0 2.5% 0 2.5%;
    height: 300px;
    float: left;
}

.notice_image{
    height: 350px;
    width: auto;
}
.print_notice h1{
    font-size: 30px;
    margin-bottom: 5px;
}

.print_notice h5{
    font-size: 15px;
    text-align: justify;
}

.print_notice p{
    text-align: left;
    color: brown;
}

